@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css");

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}


.carousels {
  position: relative;
  max-width:768px;
  margin: auto;
}

.carousel-container {
  display: none;
  list-style-type: none;
  text-align: center;
}

.carousel-container img{
    width:100%;
}

.carousel-active {
  display: block;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  display: block;
  color: #111;
  cursor: pointer;
  opacity: .75;
}
.carousel-arrow:hover {
  opacity: .5;
}
.carousel-prev {
  left: 5%;
  padding:20px;
  background-color: #F2F2F2;
}
.carousel-next {
  right: 5%;
  padding:20px;
  background-color: #F2F2F2;
}

.carousel-tracks{
  display: flex;
  position: absolute;
  right:0;
  top:0;
}

.carousel-track-container{
  padding:5px;
  background-color: #F2F2F2;
}

.carousel-track {
  display: block;
  width: 6px;
  height: 5px;
  background-color: #111;
  cursor: pointer;
  opacity: .15;
}
.carousel-track:hover {
  opacity: .5;
}
.carousel-track-active, .carousel-track-active:hover {
  opacity: .75;
}
.carousel-container .title{
    position:absolute;
    top:0;
    left:0;
    padding:5px;
    background-color:#F2F2F2;
}

.carousel-container .synosis{
    position:absolute;
    padding:5px;
    background-color:#F2F2F2;
    max-height: 256px;
    white-space:nowrap;
    overflow: hidden;
    text-overflow:ellipsis;
    display:block;
    width:600px;
}

.carousel-container .synosis:hover{
    overflow: visible;
    white-space: normal;
    height:auto;
}